<?php require_once "../view/partials/_header.php"?>
<main>

    <p>{{ message }}</p>

    <ul>
        {% for product in order.getProducts() %}
            <li><?php echo $product; ?></li>
        {% endfor %}
    </ul>

    <p>Le coût total de ta commande assez chelou car y'a que des Pringles mais elle est de :
        {{ order.totalPrice() }} euros.</p>

    <p>Vous avez effectué la commande le {{ order.dateTime() }} à
        {{ order.hourTime() }}</p>
</main>
<?php require_once "../view/partials/_footer.php"?>
</body>
</html>
